@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply transition-all inline-flex px-6 py-4.5 justify-center items-center rounded-large gap-2 border border-solid capitalize
  disabled:cursor-not-allowed;
}

.btn-text {
  @apply text-md font-sans leading-2 font-semibold tracking-normal;
}

.btn-primary {
  @apply text-white bg-dark-blue border-dark-blue
  hover:bg-light-blue hover:text-black  hover:border-black 
  active:text-white active:bg-dark-blue active:border-dark-blue;
}

.btn-primary:disabled {
  @apply bg-gray-300 text-white border-transparent;
}

.btn-secondary {
  @apply text-black bg-transparent border-black 
  active:text-white active:bg-black
  dark:text-white dark:border-white 
  dark:hover:text-black dark:hover:bg-white 
  dark:active:text-black dark:active:bg-white;
}

.btn-secondary:disabled {
  @apply bg-gray-300 text-white border-transparent
  dark:border-gray-300 dark:text-gray-300;
}

.btn-secondary-dark-bg {
  @apply text-black bg-transparent border-black 
  active:text-white active:bg-black
  dark:text-white dark:border-white 
  dark:hover:text-black dark:hover:bg-white 
  dark:active:text-black dark:active:bg-white;
}

.btn-transparent {
  @apply text-black bg-transparent border-transparent 
  hover:bg-gray-100 hover:border-gray-100 
  active:border-transparent active:bg-transparent;
}

.btn-transparent:disabled {
  @apply text-gray-300;
}

.btn-orange {
  @apply text-white bg-orange border-orange
  hover:bg-dark-orange hover:border-dark-orange 
  active:text-white active:bg-orange active:border-orange;
}

.btn-orange:disabled {
  @apply bg-gray-300 text-white border-gray-300;
}
