@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  @layer text-inherit;
}

p {
  @apply md:text-lg md:leading-4 text-md leading-3 font-normal;
}

h1,
.h1 {
  @apply font-bold  text-small-3xl md:text-4xl leading-2 md:leading-4;
}

h2,
.h2 {
  @apply font-bold md:text-3xl text-xl md:leading-2 leading-3 uppercase;
}

h3,
.h3 {
  @apply font-medium text-xl md:text-3xl md:leading-2 leading-3 uppercase;
}

h4,
.h4 {
  @apply font-bold md:text-3xl text-xl leading-2;
}

h5,
.h5 {
  @apply font-semibold md:text-2xl text-xl leading-2;
}

h6,
.h6 {
  @apply font-bold md:text-xl text-lg leading-3 md:leading-2 uppercase;
}

.h7 {
  @apply font-normal text-lg md:text-xl leading-3 md:leading-2 uppercase;
}

.h8 {
  @apply font-normal text-lg md:text-xl leading-2;
}

.h9 {
  @apply font-bold text-lg leading-2;
}

.h10 {
  @apply font-semibold text-lg leading-2;
}

*::-webkit-scrollbar {
  @apply w-2 h-0;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-orange rounded;
}

*.transition-all {
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 3000ms;
}
