@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  @layer text-inherit;
}

p {
  @apply lg:text-lg lg:leading-4 text-md leading-3 font-normal;
}

h1,
.h1 {
  @apply font-bold text-small-3xl lg:text-4xl leading-2 lg:leading-4;
}

h2,
.h2 {
  @apply font-semibold lg:text-small-4xl text-2xl leading-2;
}

h3,
.h3 {
  @apply font-medium text-xl lg:text-3xl lg:leading-2 leading-3;
}

h4,
.h4 {
  @apply font-bold lg:text-3xl text-xl leading-2;
}

h5,
.h5 {
  @apply font-semibold lg:text-2xl text-xl leading-2;
}

h6,
.h6 {
  @apply font-medium lg:text-3xl text-xl leading-2;
}

.h7 {
  @apply font-normal text-lg lg:text-xl leading-3 lg:leading-2;
}

.h8 {
  @apply font-normal text-lg lg:text-2xl leading-2 lg:leading-auto;
}

.h9 {
  @apply lg:font-light font-medium text-lg lg:text-2xl lg:leading-2 leading-3;
}

.h10 {
  @apply lg:font-bold font-normal text-lg lg:text-xl leading-2;
}

.h11 {
  @apply font-bold lg:font-semibold lg:text-xl text-lg leading-2;
}

.h12 {
  @apply font-semibold lg:font-normal lg:text-xl text-lg leading-2;
}

.h13 {
  @apply font-normal text-xl leading-2;
}

.h14 {
  @apply font-bold text-lg leading-2;
}

.h15 {
  @apply font-semibold text-lg leading-2;
}

.text-1 {
  @apply font-normal lg:text-xl text-md leading-2 lg:leading-4;
}

.text-2 {
  @apply font-normal text-small-md lg:text-lg leading-2 lg:leading-4;
}

.text-3 {
  @apply lg:font-semibold font-normal text-base lg:text-lg lg:leading-4 leading-2;
}

.text-4 {
  @apply lg:font-normal font-semibold text-small-md lg:text-md leading-2 lg:leading-4;
}

.text-5 {
  @apply font-medium lg:text-md leading-2 text-base lg:leading-4;
}

.text-6 {
  @apply font-medium lg:leading-4 leading-2 text-base;
}

.text-breadcrumb {
  @apply font-normal text-sm leading-2;
}

*::-webkit-scrollbar {
  @apply w-2 h-0;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-light-blue rounded;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.admin label {
  @apply text-base text-black flex flex-col;
}

.admin input, .admin select {
  @apply rounded text-base text-black p-2 border border-gray-500 focus:outline-black;
}

.admin textarea {
  @apply w-full rounded text-base text-black p-2 border border-gray-500 focus:outline-black;
}

.list p {
  @apply text-base;
}
