#projects-slider .carousel .control-next.control-arrow {
  @apply absolute z-20 top-auto lg:bottom-10 bottom-5 right-0 md:right-1/3 opacity-0 w-[45%] md:w-[15%];
}

#projects-slider .carousel .control-prev.control-arrow {
  @apply absolute z-20 top-auto lg:bottom-10 bottom-5 left-0 md:left-1/3 opacity-0 w-[45%] md:w-[15%];
}

.slide-box {
  @apply w-full h-full max-w-[1440px] m-auto pb-20
  md:flex md:justify-center md:flex-row-reverse md:gap-8 md:pt-10 md:px-8
  lg:pb-12  lg:h-[880px] lg:px-16;
}

.image-box {
  @apply w-full h-[350px] mb-5 
  md:mb-0 md:w-1/2 md:h-[420px] 
  lg:w-[720px] lg:h-[720px];
}

.control-box {
  @apply flex absolute right-0 bottom-5 w-full justify-center items-center
  md:right-1/3 md:w-1/3
  lg:bottom-10;
}
