#projects-slider .carousel .control-next.control-arrow {
  @apply absolute top-auto bottom-[25px] right-1/4 bg-orange;
}

/* #projects-slider .carousel .control-next.control-arrow::before{
    content: '';
    background-color: black;
    width: 10px;
    height: 10px;

} */

#projects-slider .carousel .control-prev.control-arrow {
  @apply absolute top-auto bottom-[25px] left-1/4 bg-orange;
}

/* #projects-slider .carousel .control-prev.control-arrow::before {
    content: '';
    background-color: black;
    width: 10px;
    height: 10px;

} */
