.bg-plai {
  @apply w-full h-full object-center object-cover
md:h-[900px] md:object-top md:translate-y-[-400px]
lg:h-full lg:object-bottom lg:translate-y-0;
}

.grid-box {
  @apply mx-auto max-w-[1440px] overflow-hidden px-4 py-8 gap-4 flex flex-col justify-around items-center text-black
    lg:grid md:px-8 justify-between lg:px-16;
}

.text-first {
  @apply lg:row-start-1 lg:row-end-2 lg:col-start-1 lg:col-end-2 lg:p-0;
}

.text-second {
  @apply lg:row-start-1 lg:row-end-2 lg:col-start-2 lg:col-end-3;
}

.text-third {
  @apply lg:row-start-2 lg:row-end-3 lg:col-start-2 lg:col-end-3;
}

.image-first {
  @apply w-full h-[200px] object-center object-cover md:h-[325px]
lg:h-full lg:row-start-2 lg:row-end-4 lg:col-start-1 lg:col-end-2;
}

.image-second {
  @apply w-full h-[200px] object-center object-cover md:h-[325px]
lg:row-start-3 lg:row-end-4 lg:col-start-2 lg:col-end-3 lg:h-full;
}

.item-plai-enemy {
  @apply flex items-center gap-3 
  before:content-['*'] before:block before:text-transparent before:bg-water-blue before:w-[8px] before:h-[8px] before:rounded;
}
