@tailwind base;
@tailwind components;
@tailwind utilities;

.link-text {
  @apply hover:underline font-semibold;
}

.link-button-primary,
.link-button-secondary,
.link-button-orange,
.link-button-black {
  @apply transition-all flex items-center justify-center px-6 py-4 text-base font-semibold leading-2 rounded-large border
        lg:py-4.5 lg:text-md;
}

.link-button-primary {
  @apply text-white bg-dark-blue border-dark-blue 
  hover:bg-light-blue hover:text-black hover:border-black 
  active:text-white active:bg-dark-blue active:border-dark-blue;
}

.link-button-black {
  @apply text-black border-black 
  hover:text-white hover:bg-black 
  active:text-black active:bg-white;
}

.link-button-secondary {
  @apply text-white border-white
    hover:text-black hover:bg-white
    active:text-black active:bg-white;
}

.link-button-orange {
  @apply text-white bg-orange border-orange 
  hover:bg-dark-orange hover:border-dark-orange 
  active:text-white active:bg-orange active:border-orange;
}
